.minBox{
	position: relative;
	top:3vh;
	left:1.1vw;
	background-color:white;
	border-radius: 50%;
	width: 1.2vw;
	height: 2.5vh;
	cursor: pointer;
}

.plusBox{
	position: relative;
	left:5.2vw;
	top:0.5vh;
	background-color:white;
	border-radius: 50%;
	width: 1.2vw;
	height: 2.5vh;
	cursor: pointer;
}

.imgplus{
	width: 1vw;
	position: relative;
	left: 0.1vw;
	top:0.2vh;
}

.imgmin{
	position: relative;
	left: 0.25vw;
	top:0.5vh;
	width: 0.7vw;
}

.quantityDisplay{
	outline: none;
	border:none;
	width:2.5vw ;
	height: 3vh;
	font-size: 20px;
	text-align: center;
	position: relative;	
	top:-3.5vh;
	left:2.5vw;
	cursor: default;
}

.orderBt{
	color:white;
	background-color: gray;
	cursor: pointer;
	top:-3vh;
	left:4vw;
	border-radius: 8px;
	position: relative;
	border:none;
	font-size: 20px;
	font-family: verdana;
	font-weight: bold;
	width: 6vw;
	height: 5vh;
	transition:transform 0.1s ease-in-out, background-color 0.05s ease-in, 
				box-shadow 0.15s ease-in-out;
}

.orderBt:hover{
	box-shadow: 0 0 7px white,
				0 0 10px white;
}

.orderBt:active{
	background-color:rgb(90,90,90);
	transform: scale(0.9);
	box-shadow: none;
}

.cartLogo{
	position: relative;
	top:1.1vh;
	left:0.34vw;
	width: 1.8vw;
}

#cartNum{
	position: relative;
	text-align: center;
	top:-5vh;
	left:1.7vw;
	width:1.5vw;
	height: 3vh;
	border-radius: 50%;
	border-top:2px solid;
	border-right: 2px solid;
	outline: none;
	font-weight: bold;
	font-family: verdana;
	font-size:11px;
	cursor: default;
}

.cartButtonBox{
	border-radius: 50px;
	position: absolute;
	right: 1vw;
	top: 1vh;
	width: 2.6vw;
	height:2.6vw;
	background-color: white;
	cursor: pointer;
	transition: transform 0.20s ease-in, box-shadow 0.15s ease-in-out;
}

.cartButtonBox:hover{
	transform:scale(1.1);
	box-shadow:0 0 5px white,
			   0 0 8px brown,
			   0 0 12px #412208;
}

.cartContainer{
	position: fixed;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	top:13vh;
	left:-70vw;
	width:50vw;
	height: 70vh;
	background-color:rgb(220,220,220); 
	transition: opacity 0.25s ease-in-out, transform 0.20s ease-in ; 
	padding-right:1vw; 
	padding-left:1vw;
	padding-top: 2vh;
	padding-bottom: 13vh; 
	grid-gap:20px;
	opacity:0;
}

.cartContainer-show{
	opacity: 1;
	transform: translateX(94vw);
}

.products{
	width: 15vw;
	height: 25vh;
	background-color: rgba(250,250,250);
	border-radius: 8px;
	display:none;
}

.prod1-show,
.prod2-show,
.prod3-show,
.prod4-show,
.prod5-show,
.prod6-show{
	display: block;
}

.totalBox{
	top:58vh;
	left: 0vw;
	position: absolute;
	height: 12vh;
	width: 50vw;
	background-color:#412208;
}

.prodT{
	position: relative;
	top:18vh;
	background-color:#412208;
	width:15vw;
	height: 7vh;
}

#closeCart{
	position: absolute;
	top:-1.2vh;
	right: -1vw;
	background-color:red;
	opacity: 0.7;
	width:1.7vw;
	height: 1.7vw;
	border-radius: 50px;
	border:none;
	color: white;
	font-weight: bold;
	font-family: tahoma;
	cursor: pointer;
	font-size:20px;
	text-align: center;
	padding-bottom: 0.2vw;
}


.totalProd{
	color: white;
	position: absolute;
	top:4vh;
	left:7.2vw;
	border:none;
	width: 7.2vw;
	font-weight: bold;
	font-family: verdana;
	font-size: 18px;
	cursor: default;
	outline: none;
	background: none;
	text-align: right;
}

.imp{
	top:-17vh;
	left:0.5vw;
	position: relative;
	width:14vw;
	height: 16vh;
}

.finalQuantity{
	border:none;
	position: absolute;
	top:0.6vh;
	left:6.5vw;
	width:2vw;
	height: 2.2vh;
	text-align: center;
	cursor: default;
	outline: none;
	text-align: center;
}

.minusFinal{
	position: absolute;
	top:-15.9vh;
	left:2vw;
	width:4vw;
	height: 2.3vh;
	font-size: 15px;
	font-family: verdana;
	border:none;
	position: relative;
	cursor: pointer;
	text-align: center;
	text-align: center;
}

.addFinal{
	position: absolute;
	top:-15.9vh;
	right:-4.8vw;
	width:4vw;
	height: 2.3vh;
	font-size: 15px;
	font-family: verdana;
	border:none;
	position: relative;
	cursor: pointer;
	text-align: center;
	text-align: center;
}

.priceTag{
	position: absolute;
	top:4.5vh;
	left:1.1vw;
	width: 3vw;
	border:none;
	font-size: 15px;
	background: none;
	color:white;
}

#checkOut{
	position: absolute;
	border:none;
	right:1vw;
	top:5vh;
	background-color: gray;
	color:white;
	font-weight: bold;
	font-family: verdana;
	border-radius: 8px;
	font-size: 23px;
	height:6vh;
	width:10vw;
	cursor: pointer;
	transition:transform 0.1s ease-in-out, box-shadow 0.15s ease-in-out;
}

#checkOut:hover{
	transform:scale(1.05);
	box-shadow:0 0 5px white,
			   0 0 8px brown,
			   0 0 12px #412208;
}

#totalCheck{
	position: absolute;
	top:1vh;
	right:1vw;
    border:none;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    background: none;
    color:white;
    cursor: default;
    outline: none;
}

#subTotal{
	position: absolute;
	top:3vh;
	left:3vw;
    border:none;
    font-weight: bold;
    font-size: 18px;
    color:white;
    background: none;
    cursor: default;
    outline: none;
}

#deliveryFee{
	position: absolute;
	top:6vh;
	left:3vw;
    border:none;
    font-weight: bold;
    font-size: 18px;
    color:white;
    background: none;
    cursor: default;
    outline: none;
}

.checkoutConMain{
	right:-50vw;
	top:33vh;
	position: fixed;
	width: 21vw;
	height: 20vh;
	background-color: white;
	opacity: 0;
	transition: right 0.20s ease-in-out, opacity 0.15s ease-in;
	border:1px solid;
	box-shadow: 0 0 8px lightgray inset,
	  			0 0 12px gray inset,
	  			0 0 16px #412208 inset;
}

.checkoutConMain-show{
	right:40.3vw;
	opacity: 1;
}

#loading{
	position: absolute;
	left:7.9vw;
	top:5vh;
	width: 5vw;
	height: 10.25vh;
	border-radius: 50%;
	border:10px solid rgb(150,150,150) ;
	border-top-color:#412208;
	animation:spin 1s linear infinite;
	transition: opacity 0.15s ease-in;
}

.loading-show{
	opacity: 0;
	pointer-events: none;
}

@keyframes spin{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.closeCon{
	position: absolute;
	bottom:5vh;
	left:4.3vw;
	width:12vw;
	height: 5.5vh;
	border:none;
	cursor: pointer;
	font-size: 20px;
	background-color:#412208;
	color:white;
	font-weight: bold;
	font-family: verdana;
	border-radius: 8px;
	opacity: 0;
	pointer-events: none;
	transition: bottom 0.25s ease-in-out, opacity 0.2s ease-in;
}

.closeCon-show{
	opacity: 1;
	bottom:1vh;
	pointer-events: auto;
}

.text1{
	position: absolute;
	top:4.5vh;
	left:-100vw;
	width:20vw;
	font-size:19px;
	color:black;
	font-weight: bold;
	font-family: verdana;
	outline: none;
	cursor: default;
	text-align: center;
	background: none;
	border:none;
	opacity: 0;
	transition: left 0.25s ease-in-out, opacity 0.20s ease-in , rotate 0.20s ease-in-out;
}

.text1-show{
	left:0.5vh;
	opacity: 1;
}



.text2{
	position: absolute;
	top:9.5vh;
	right:-100vw;
	width:20vw;
	font-size:15px;
	color:black;
	font-weight: bold;
	font-family: verdana;
	outline: none;
	cursor: default;
	text-align: center;
	background: none;
	border:none;
	opacity: 0;
	transition: right 0.25s ease-in-out, opacity 0.20s ease-in;
}

.text2-show{
	right: 0.5vh;
	opacity: 1;
}

.invisibleBox{
	position: fixed;
	top:7vh;
	width:100vw;
	height: 100vh;
	background-color:rgba(255,255,255,0.3);
	backdrop-filter:blur(3px);
	display: none;
}

.invisibleBox-show{
	display: none;
}

.afterInvBox2{
	width: 60vw;
	height: 80vh;
	background:none;
	position: fixed;
	top:10vh;
	left:20vw;
	display: none;
}

.afterInvBox2-show{
	display: block;
}